<!-- Header Box -->
<div class="align-content">
  <img src="/images/flameOrange.png" alt="flame" />
  <img id="header-logo-lift" src="/images/HOTCATZ.png" alt="logo" />
  <img id="header-desc" src="/images/headerDesc.png" alt="header desc" />
  <hr />

<!-- Matchup Box -->
  <div class="matchup-box">

  </div>

<!-- What's This? Box -->
  <img id="whats-this" src="/images/whatsThis.png" alt="upload" />
  <div class="imprint-square upload-box">
    <div class="column-desc">
      <img src="/images/hotcatzDesc.png" alt="whatsThis" />
    </div>
    <div class="column-upload-preview">
      <img class="upload-preview-box" src="/images/previewBox.png" alt="uploadBox" />
    </div>
    <div class="column-upload-buttons">
      {{input class="input" value=name placeholder="Your cat's name"}}
      <div class="button-box">
        <button class="button" style="background-color:#AAA;">choose file...</button>
      </div>
      <div class="button-box">
        <button class="button" style="background-color:#FF7000;">Upload!</button>
      </div>
    </div>
  </div>
  <hr />

<!-- Leaderboard Box -->
  <img id="leaderboard-logo"src="/images/leaderboard.png" alt="leaderboard" />
  <div class="imprint-square" id="leaderboard-box">
    {{#each sortedCats as |cat|}}
      {{computeRank}}
      <div class="cat-box" id='rank-{{cat.rank}}'>
        <div class="hover-info">
          <img {{action 'addVote' cat}} class="image-icon" id='rank-{{cat.rank}}' src='{{cat.imageUrl}}' alt="cat" />
          <div class="vote-overlay" {{action 'addVote' cat}}>
            vote
          </div>
          <span class="hover-text">
            <span class="pull-left" style="font-size:1.3em;text-transform:uppercase;position:relative;margin-left:5px;"><b>{{cat.name}}</b></span>
            <span class="pull-right"style="font-size:0.8em;margin-top:5px;margin-right:5px;color:gray;">{{cat.votes}} votes</span>
          </span>
        </div>
        <p id="rank-stamp">
          #{{cat.rank}}
        </p>
      </div>
    {{/each}}
  </div>

<!-- Footer Box -->
  <div id="footer-gray">
    <img class="pull-right" style="margin-top:8px" src="/images/hotcatzbottom.png" alt="flame+logo" />
    <img class="pull-left" style="margin-top:20px" src="/images/copyright.png" alt="copyright" />
  </div>
  <div id="footer-orange-background"></div>
  <div id="footer-orange">

  </div>
</div>
