<div class="align-center">
  <img src="/images/flameOrange.png" alt="flame" />
  <img id="logo-lift" src="/images/HOTCATZ.png" alt="logo" />
  <img id="header-desc" src="/images/headerDesc.png" alt="header desc" />
  <img id="header-bar" src="/images/Layer 20 copy 5.png" alt="hr" />

  <ul>
    {{#each model as |cat|}}
      {{computeRank}}
      <div class="cat-box" id='{{cat.rank}}'>
        <h3>{{cat.name}}</h3>
        <p>
          Rank: {{cat.rank}}<br />
          Votes: {{cat.votes}}<br />
          <img {{action 'addVote' cat}} src='{{cat.imageUrl}}' alt='display error' class='image-icon' />
        </p>
        <div class="vote-button">
          Vote for {{cat.name}}:
          <button {{action 'removeVote' cat}}>-</button>
          <button {{action 'addVote' cat}}>+</button>
        </div>
      </div>
    {{/each}}
  </ul>
  <div id="footer-gray">
    <img class="pull-right" style="margin-top:8px" src="/images/hotcatzbottom.png" alt="flame+logo" />
    <img class="pull-left" style="margin-top:20px" src="/images/copyright.png" alt="copyright" />
  </div>
  <div id="footer-orange-background"></div>
  <div id="footer-orange">

  </div>
</div>
